@font-face {
    font-family: "Arial";
  

}

body {
    background-image: url(http://img2.tvtome.com/i/u/f8317677f07b44a9c489bf3cefaa64e9.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.center-block {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.text-center {
    background-color: transparent;
    border: none;
    color: black;
    
}

button {
    margin: 6px;
}

img {
    margin-bottom: 10px;
    max-width: 95%;
    height: auto;
}

#title {
    margin-top: 50px;
    font-family:"Arial";
    text-align: center;
    color: white;
    font-size: 65px;
    color: rgb(74, 74, 255);

    
}

#rules {
    font-family:"Arial";
    text-align: center;
    color: white;
    font-size: 25px;
    color: rgb(74, 74, 255);
}
.intro {
    margin-top: 0px;
    font-family:"Arial";
    text-align: center;
    color: white;
    font-size: 25px;
    text-shadow: 4px 4px black;
}
#clicktobegin {
    margin-top: 0px;
    font-family:"Arial";
    text-align: center;
    color: white;
    font-size: 25px;
    text-shadow: 4px 4px black;
}

#logo {
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:450px;
    width:auto;
}

#game {
    font-family: "Arial";
    text-align: center;
    width: 75%;
    margin: auto;
    background-color: lightgrey;
    color: black;
    border-radius: 25px;
    font-size:25px;
    
}
#question {
    font-size:30px;
}

#answer {
    font-size: 20px;
}

.btn {
    clear:both;
    font-size: 30px;
    width:300px;
}

